doctype
html
  head
    title Webpack2 Setup

  body
    .menuBar
      a(href="#")
        i.fa.fa-home.fa-4x
      a(href="#")
        i.fa.fa-desktop.fa-3x
      a(href="#")
        i.fa.fa-laptop.fa-2x

    br
    hr
    br

    img(src="images/color-palette.png" alt="")
    h3 Set up a web site: a pug page...
    .contentWrapper.
      PUG IS HERE!!!! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ex, nemo labore. Rerum optio dolorem sit, fuga quia ipsum, saepe pariatur voluptatem aspernatur assumenda quaerat, enim architecto error reiciendis beatae quo illum accusantium autem magnam, dignissimos sapiente debitis ipsa earum natus. Assumenda ipsum numquam cum repellat quos voluptatem itaque temporibus.

