doctype
html
  head
    title Webpack2 Setup - Service Page

  body
    img(src="images/color-palette.png" alt="")
    h3 Set up a web site: a service page...
    .contentWrapper.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ex, nemo labore. Rerum optio dolorem sit, fuga quia ipsum, saepe pariatur voluptatem aspernatur assumenda quaerat, enim architecto error reiciendis beatae quo illum accusantium autem magnam, dignissimos sapiente debitis ipsa earum natus. Assumenda ipsum numquam cum repellat quos voluptatem itaque temporibus.
 